.dashboard{

    width: 45%;
    display: flex;
    height: 83vh;
    flex-direction: column;
    // justify-content: flex-start;
    animation: fadeIn 0.6s ease-in-out;
    border-left: 1px solid $light-grey;

    &-home{
        text-align: center;
        align-items: center;
        background: transparent;
        display: flex;
        height: 100%;
        justify-content: space-evenly;
        width: 100%;
    }

    &-table{
        width: 27%;
        border-radius: 19px;
        height: 80%;
        color: $dark-grey;
        background: rgba($light-grey, 0.5);
        border: 1px solid $light-grey;

        &__heading{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2rem 0;
            @media only screen and(max-width: $bp-small){
                margin: 0;
            }
            .big{
                color: $primary;
                font-size: 5.7rem;
                font-weight: 600;
                padding-right: 0.5rem;
                @media only screen and(max-width: $bp-small){
                    font-size: 4rem;
                }
            }

            .monthly{
                font-size: 1.8rem;
                font-style: italic;
                font-weight: 300;
                @media only screen and(max-width: $bp-small){
                    font-size: 1.1rem;

                }
            }
        }

        &__content{
            display: flex;
            flex-direction: column;
            h3{
                font-size: 2.6rem;
                padding: 1rem;
                font-weight: 400;
                @media only screen and(max-width: $bp-small){
                    font-size: 1.5rem;
                }
            }

        }

        &__description{
            padding: 1rem;
            font-size: 1.5rem;
            font-style: italic;
            font-weight: 300;
            @media only screen and(max-width: $bp-small){
                font-size: 1rem;
            }
        }

        &__features{
            margin-top: 2rem;
            ul{
                padding: 0;
                width: 100%;
                margin: 0 auto;
                font-weight: 500;
                list-style-type: none;
                margin-top: 1rem;
                font-size: 1.5rem;
                @media only screen and(max-width: $bp-small){
                    font-size: 1rem;
                }
            }
            li:not(:last-child){
                margin-bottom: 1.5rem;
            }

        }


    }

    &__main-content{
        min-height: calc(100% - 20px);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: all .6s ease-in-out;

        i{
            color: rgba($primary, .8);
            transform: scale(1.4);
            font-style: none!important;
            transition: all .4s ease-in-out;
            font-weight: 600;
            &:hover{
                transform: scale(1.8);
            }

        }

    }

    &__heading{
        font-size: 1.3rem;
        text-align: left;
        font-weight: 500;
        color: rgba($primary, .8);
        padding-top: 1rem;
        padding-left: 1.4rem;
        
        i{
            font-size: 1.6rem;
            color: rgba($primary, .7);
        }


    }

    &__input-file{
        display: none;
    }

    &__input-label{
        width: 100%;
        justify-content: center;
        display: flex;
        text-align: center;
    }

    &__files{
        width: 100%;
        height: calc(50% - 34px);

    }

    &__appointments{
        width: 100%;
        border-top: 1px solid $light-grey;
        height: calc(50% - 34px); 
        border-radius: 0 0 19px 0;
    }

}