.grid{

    width: 100%;

    &__header{
        border-bottom: 1px solid $light-grey;
        display: flex;
        padding: .5rem;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 1rem;
        width: 50%;
        font-weight: 800;
    }

    &__body{
        height: 140px;
        overflow: auto;
        margin: 1rem auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 14px;
        font-weight: 200;

        &::after{
            content: '';
            display: table;
            clear: both;
        }

        [class^="col-"]{
            float: left;
        }

        .col-1-of-4{
            width: calc((100% - 3 * #{18px}) / 4);
        }

    
        .col-1-of-5{
            width: calc((100% - 4 * #{18px}) / 5);
            font-weight: 500;
            font-size: 1.1rem;
            color: $color-grey-dark;

        }

        .linethrough span{
            text-decoration: line-through;
            color: lighten(red, 22);
        }

        &::-webkit-scrollbar{
            width: .4rem;
            background: rgba($primary, 0.6);
            border-radius: 19px 0 0 19px;
        }

        &::-webkit-scrollbar-thumb{
            background: rgba($primary, 0.8);
            border-radius: 19px 0 0 19px;
        }

        &-item{
            margin: .5rem 0;
            &:first-child{
                margin-top: 0;
            }
            &:not(:last-child){
                margin-bottom: .5rem;
            }
            display: flex;
            justify-content: space-around;
            min-width: 100%;
        }
        

        span i.delete{
            color: lighten(red, 22);
            font-size: .9rem;
            transition: all ease-in-out .4s;

            &:hover{
                color: darken(red, 2);
            }

        }

        span i.download{
            color: lighten(#23a057, 22);
            font-size: .9rem;
            transition: all ease-in-out .4s;
            &:hover{
                color: darken(#23a057, 2);
            }

        }


        span i.edit{
            color: lighten($primary, 22);
            font-size: .9rem;
            transition: all ease-in-out .4s;
            &:hover{
                color: darken($primary, 2);
            }

        }

    }
}