.modal{
    &-background{
        pointer-events: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba($color-black, 0.8);
        z-index: 1;
        display: flex;
    }

    &-showing{
        animation: fadeIn .5s ease-in-out;
        opacity: 1;
        pointer-events: auto; 
    }

    &-inner{
        background: rgba($color-black, 0.5);
        border-radius: 19px;
        box-shadow: 0 0 30px rgb(27, 27, 27);
        display: flex;
        margin: auto;
        height: 82.9vh;
        margin-top: 6.1rem;
        max-width: calc(100% - 60px);
        width: 1305px;
    }

    &-form{
        width: 900px;
        display: flex;
        justify-content: center;
        padding: 4rem;
        align-items: center;
        flex-direction: column;
        color: white;

        &__banner{
            height: 100%;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            i:hover{
                color: $primary;
            }
        }

        h1{
            font-size: 1.1rem;
            margin-top: 3rem;
            font-weight: 500;
        }

        i{
            font-size: 6.5rem;
            transition: .3s ease-in-out;
        }

    }

}