.nav{
    margin: 0 auto;
    font-size: 1.3rem;
    max-width: 70%;

    &__links{
        display: flex;
        background-color: $color-white;
        border-radius: 0 0 12px 12px;
        box-shadow: -4px 0px 1px rgba(whitesmoke, 0.5);
        justify-content: space-around;
        list-style: none;
        font-weight: 500;
        padding: 1.3rem 0;
        transition: 0.5s;

        &-active{
            padding: 6px 10px;
            background-color: $primary;
            border-radius: 10px;
            color: $color-white!important;
        }


        li{
            border: transparent;
            border-radius: 12px;
            transition: all .5s ease-in-out;

            &:hover{
                transform: scale(1.1);
            }
        }

        li a{
            transition: all 0.3s ease -s;
            color: $primary;
            text-decoration: none;
        }

    }
}