.nav{
    margin: 0 auto;
    max-width: 70%;

    @media only screen and(max-width: $bp-large){
        max-width: 100%;
    }

    &__links{
        display: flex;
        background-color: $color-white;
        border-radius: 0 0 12px 12px;
        box-shadow: -4px 0px 1px rgba(whitesmoke, 0.5);
        justify-content: space-around;
        list-style: none;
        font-weight: 500;
        padding: 1.3rem 0;
        transition: 0.5s;

        @media only screen and(max-width: $bp-large){
            border-radius: 0;
        }
        
        &-active{
            padding: 6px 10px;
            background-color: $primary;
            border-radius: 10px;
            color: $color-white!important;
        }


        li{
            
            border: transparent;
            border-radius: 12px;
            transition: all .5s ease-in-out;

            &:hover{
                transform: scale(1.1);
            }


    
        }

        li a{
            font-size: 2rem;
            transition: all 0.3s ease -s;
            color: $primary;
            text-decoration: none;

            @media only screen and(max-width: $bp-small){
                font-size: 2.6rem;

                & .icon-text{
                    @media only screen and(max-width: $bp-medium){
                        display: none;
                        font-size: 1rem;
                    }
                }
            }
        }


    }
}