@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1080deg);
    }
}

@keyframes fadeInAndMoveFromBotton{
    0%{
        opacity: 0;
        transform: translateY(14rem);
    }
    10%{
        opacity: 0.04;
    }
    15%{
        opacity: 0.09;
    }
    25%{
        opacity: 0.12;
    }
    35%{
        opacity: 0.25;
    }
    45%{
        opacity: 0.39;
    }
    65%{
        opacity: 0.54;
    }
    75%{
        opacity: 0.68;
    }
    85%{
        opacity: 0.84;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 0.91;
        transform: translateY(0);
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.07;
    }
    15%{
        opacity: 0.14;
    }
    25%{
        opacity: 0.22;
    }
    35%{
        opacity: 0.36;
    }
    45%{
        opacity: 0.45;
    }
    65%{
        opacity: 0.57;
    }
    75%{
        opacity: 0.69;
    }
    85%{
        opacity: 0.76;
    }
    95%{
        opacity: 0.89;
    }
    100%{
        opacity: 1;
    }
}

@keyframes show_toast {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(10%);
    }
    80%,
    100% {
        transform: translateX(20px);
    }
}



@keyframes hide_toast {
    0% {
        transform: translateX(20px);
    }
    40% {
        transform: translateX(10%);
    }
    80%,
    100% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}