*{
    font-family: 'Noto Sans JP', sans-serif;    
    margin: 0;
}

html, body{
    width: 100vw;
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-large){
        font-size: 50%;
    }
}

main{
    width: 100%;
}



kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}


.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
}

.b-bottom{
    border-bottom: 1px solid lighten($color-grey-dark-2, 20);
    padding: 1.5rem 0;
}

.mt-1{
    margin-top: 5px;
}

.mt-5{
    margin-top: 20px;
}

.mt-10{
    margin-top: 40px;
}

.mt-15{
    margin-top: 60px;
}

.mt-20{
    margin-top: 80px;
}


.mb-1{
    margin-bottom: 5px;
}

.mb-5{
    margin-bottom: 20px;
}

.mb-10{
    margin-bottom: 40px;
}

.pointer{
    cursor: pointer;
}

.main-container{
    width: 70%;
    background-color: $color-white;
    border-radius: 19px;
    position: relative;
    height: 83vh;
    box-shadow: -4px 0px 1px rgba(whitesmoke, 0.5);
    color: $dark-grey;


    @media only screen and(max-width: $bp-small){
        width: 100%;
        height: 75vh;
    }

    &__search-group{
        display: flex;
        justify-content: center;
        align-items: center;

        &-button{
            margin-left: 4rem;
            margin-top: 1.2rem;

            font-size: 1rem;

            i{
                margin-left: .3rem;
                font-size: 1rem;
            }

        }


    }

    &::-webkit-scrollbar{
        width: .7rem;
        background: $primary;
        border-radius: 0 22px 22px 0;
    }

    &::-webkit-scrollbar-thumb{
        background: $color-primary-light;
        border-radius: 0 22px 22px 0;
    }

    &__banner{
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: .8rem;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        color: rgba($color-black, 0.5);
        h1{
            margin-top: 1.4rem;
        }

        i{
            font-size: 6rem;
            transition: all .5s ease-in-out;
            &:hover{
                color: $primary;
            }

        }

    }
}

.secondary-container{
    width: 15%;
    background-color: $color-white;
    border-radius: 0 19px 19px 0;
    position: relative;
    height: 72vh;
    margin: auto;
    border: 2px solid rgba(darken(whitesmoke, 10), 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: -2.9rem;
    margin-right: 8rem;
    padding: .3rem;

}