$primary: #37B3DF;
$dark-grey: #363636;
$light-grey: #D8D8D8;

$color-primary: #37B3DF;
$color-primary-light: #59D3FF;
$color-primary-dark: #37B1DE;

$color-pending: #F7ED26;

$color-grey-light-1:#F7F7F7;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #FFF;
$color-black: #000;

$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;