{{>header}}
{{>barra}}
<div class="contenedor">
    <main class="contenido-principal">
        <h1 class="headerTuanis mb-4 mt-4">Lista de usuarios: nodeUptask</h1>
        <div class="list-group" style="width: 40rem; margin: 0 auto;">
            {{#each users}}
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{user}}</h5>
                    </div>
                    <p class="mb-1">{{rol}}</p>
                    <small>Google: {{google}}</small>
                </a>
            {{/each}}
        </div>
    </main>
</div>
<!--.contenedor-->
{{>footer2}}