{{>header}}
{{>barra2}}

    {{!-- TODO migrate to responsive, create toast with keyframes --}}
    <div class="contenedor-formulario">
        <div class="primary-header text-dark">
            <span class="primary-header-main">Dental Task</span>
            <span class="primary-header-sub">Drs. Maroto</span>        
        </div>
        <form id="formulario" method="POST" action="/login" class="caja-login" autocomplete="off">
        <h2 class="text-dark" style="margin-bottom: 2rem; text-align: center">Bienvenido</h2>
        {{#if gMessage}}
            <span style="font-size: 14px;" class="badge badge-pill badge-success p-3 mb-4 text-dark">{{gMessage}}</span>
        {{/if}}
        {{#if bMessage}}
            <span style="font-size: 14px;" class="badge badge-pill badge-danger p-3 mb-4 text-dark">{{bMessage}}</span>
        {{/if}}
            <div class="form-group">
                <input type="text" id="usuario" name="username" class="form-control" placeholder="Usuario...">
            </div>
            <div class="form-group">
                <input type="password" name="user_password" class="form-control" id="user_password" placeholder="Contraseña...">                

            <div class="flex">
                <div class="mt-4 campo enviar">
                    <input type="hidden" id="tipo" value="login">
                    <input type="submit" class="btn btn-dark" value="Iniciar Sesión">
                </div>
                {{>googleLogin}}
            </div>

        </form> 
    </div>
{{>reloj}}
{{>footer}}