html {
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Condensed', sans-serif!important;
    min-height: 100%;
}

a{
    text-decoration: none!important;
}

.swal2-shown aside {
    height: 100vh;
}

.headerTuanis{
    color: #343a40!important;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

#reloj{
    position: fixed;
    top:9%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(51, 51, 51, 0.8);
    color:#fff;
    width: 126px;
    height: 28px;
    border-radius: 0 5px 5px 0;
}

/** Login **/
.login,
.crear-cuenta {
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contenedor-formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.contenedor-formulario h1 {
    text-align: center;
    color: white;
}
.contenedor-formulario h1 span{
    font-weight: 400;
    font-size: 1.2rem;
}
.caja-login {
    background-color: #F2F2F2;
    border: 1px solid #707070;
    border-radius: 25px;
    max-width: 650px;
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
    -webkit-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    padding: 3rem;
}
.campo {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.enviar {
   justify-content: flex-end;
   font-weight: bold;
}

.googleButton{
    margin-top: 1rem;
    padding: 0.3rem 0;
}

.googleButton i{
    margin-right: 0.2rem;
}

/** Barra **/
body.index {
    height: 100vh;
}

.barra {
    background-color: #455A64;
    /* padding: 2rem; */
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra h1 {
    color: white;
    margin:0;
    font-size: 1.4rem;
}

.barra a {
    color: white;
    text-decoration: none;
}

/*** sidebar**/
.contenedor-proyectos {
    min-height: 100vh;
    max-width: 300px;
    background-color: #607D8B;
    padding-top: 1rem;
}
.panel {
    padding: 1rem;
    margin: 1rem;
}
.panel a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.panel h2 {
    color: #343a40;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.crear-proyecto i {
    margin-left: 1rem;
}
.crear-proyecto a {
    color: #455A64;
}

.lista-proyectos ul{
    list-style: none;
    padding: 1.5rem 0 0 0;
    margin: 0;
}
.lista-proyectos ul li {
    margin-bottom: 1rem;
}
.lista-proyectos ul li a:hover {
    color: #FDD835;
}

/** Global **/
.flex{
    display:flex;
    justify-content: space-between;
}


/** Contenido Principal */
.contenedor {
    display: flex;
    height: 100%;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contenido-principal {
    flex: 1;
    padding: 1rem;
    overflow: scroll;
}
.contenido-principal h1,
.contenido-principal h2 {
    text-align: center;
}
.contenido-principal h1 {
    font-size: 1.8rem;
}
.contenido-principal h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
}
.contenido-principal h1 span {
    font-weight: 400;
}
.agregar-tarea {
    max-width: 800px;
    width: 90%;
    background-color: #607D8B;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    transition: background-color .5s ease-in-out;
}

/** Listado Pendientes **/
.listado-pendientes {
    background-color: #F2F2F2;
    max-width: 800px;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border: 1px solid #999;
    border-radius: 15px;
}
.listado-pendientes ul {
    padding: 0;
    list-style: none;
}
.listado-pendientes ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    border-bottom: 1px solid #d1d1d1;
}
.listado-pendientes ul li:last-of-type {
    border-bottom: none;
}
.listado-pendientes ul li i {
    cursor: pointer;
}
.acciones i:last-child{
    margin-left: 3rem;
}
.completo {
    color: #00B762;
}
.alerta {
    background-color: red;
    padding: .5rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

/*Barra avance*/

.barra-avance{
    height: 30px;
    /*border: 1px solid #999;*/
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
    border-radius: 15px;
    background-color: #f2f2f2;
}

.porcentaje{
    width: 0%;
    height: 100%;
    background-color: #00B762;
    border-radius: 15px;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    transition: width .5s ease-in-out;
}

.completo{
    color: #E2E2E2;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

/*calendario*/
#calendar{
    width: 320px;
    float: right;
    margin-right: 70px;
}

#calendar_weekdays div{
    display:inline-block;
    vertical-align:top;
}

#calendar_content, #calendar_weekdays, #calendar_header{
    width: 320px;
    overflow: hidden;
    z-index: 10;
}

#calendar_weekdays div, #calendar_content div{
    width:40px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    background-color: #FFFFFF;
    color: #787878;
  }

#calendar_content div{
    float: left;
}
  
#calendar_content div:hover{
    background-color: rgb(182, 182, 182);
}
 
#calendar_content div.blank{
    background-color: #E8E8E8;
}

#calendar_header, #calendar_content div.today{
    zoom: 1;
}

#calendar_content div.today{
    color: #FFFFFF;
}

#calendar_content{
    border-radius: 0 0 15px 15px;
}

#calendar_header{
    width: 100%;
    height: 25px;
    background-color: #455A64!important;
    padding: 20px 0;
    border-radius: 15px 15px 0 0;
}

#calendar_header h1{
    font-size: 1.9em;
    color: #FFFFFF;
}

i[class^=icon-chevron]{
    color: #FFFFFF;
    float: left;
    width:15%;
    border-radius: 50%;
}