html {
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Condensed', sans-serif!important;
    min-height: 100%;
}

a{
    text-decoration: none!important;
}

.swal2-shown aside {
    height: 100vh;
}

.headerTuanis{
    color: #343a40!important;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

#reloj{
    position: fixed;
    font-size: 2rem;
    top:9%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(51, 51, 51, 0.8);
    color:#fff;
    width: 12rem;
    height: 4rem;
    border-radius: 0 5px 5px 0;
}

/** Login **/

.contenedor-formulario {
    display: flex;
    width: 30%;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
}

/** Barra **/
body.index {
    height: 100vh;
}

.barra {
    background-color: #455A64;
    /* padding: 2rem; */
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra h1 {
    color: white;
    margin:0;
    font-size: 1.4rem;
}

.barra a {
    color: white;
    text-decoration: none;
}

/*** sidebar**/
.contenedor-proyectos {
    min-height: 100vh;
    max-width: 300px;
    background-color: #607D8B;
    padding-top: 1rem;
}
.panel {
    padding: 1rem;
    margin: 1rem;
}
.panel a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.panel h2 {
    color: #343a40;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.crear-proyecto i {
    margin-left: 1rem;
}
.crear-proyecto a {
    color: #455A64;
}

.lista-proyectos ul{
    list-style: none;
    padding: 1.5rem 0 0 0;
    margin: 0;
}
.lista-proyectos ul li {
    margin-bottom: 1rem;
}
.lista-proyectos ul li a:hover {
    color: #FDD835;
}

/** Global **/
.flex{
    display:flex;
    justify-content: space-between;
}


/** Contenido Principal */
.contenedor {
    display: flex;
    height: 100%;
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contenido-principal {
    flex: 1;
    padding: 1rem;
    overflow: scroll;
}
.contenido-principal h1,
.contenido-principal h2 {
    text-align: center;
}
.contenido-principal h1 {
    font-size: 1.8rem;
}
.contenido-principal h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
}
.contenido-principal h1 span {
    font-weight: 400;
}
.agregar-tarea {
    max-width: 800px;
    width: 90%;
    background-color: #607D8B;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    transition: background-color .5s ease-in-out;
}

/** Listado Pendientes **/
.listado-pendientes {
    background-color: #F2F2F2;
    max-width: 800px;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border: 1px solid #999;
    border-radius: 15px;
}
.listado-pendientes ul {
    padding: 0;
    list-style: none;
}

.completo {
    text-decoration: line-through;
}
.alerta {
    background-color: red;
    padding: .5rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.listaCitas{
    display:block; 
    margin: 0 auto;
    max-width: 800px;
    width: 90%;
}


/* New CSS Model */
.primary-header{
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;
}

.primary-header-main{
    display: block;
    font-size: 2rem;
    font-weight: 400;
}

.primary-header-sub{
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
}

