<nav class="barra navbar">
        <h1>Dental Task - Aplicación Admiministrativa - {{user}}</h1>
        <div>
                {{#if isAdmin }}
                        <a class="btn btn-dark" href="/admin">
                                <i class="fas fa-users-cog"></i>
                        </a>
                        <a class="btn btn-dark" href="/crear-cuenta">
                                <i class="fas fa-user-plus"></i>                        
                        </a>
                        <a class="btn btn-dark" href="/reportes">
                                <i class="fas fa-chart-line"></i>
                        </a>

                {{else}}
                        <a class="btn btn-dark" href="/">
                                <i class="fas fa-tasks"></i>
                        </a>
                        <a class="btn btn-dark" href="/files">
                                <i class="fas fa-file-upload"></i>
                        </a>
                {{/if}}
                <a class="btn btn-dark" href="/logout">Cerrar Sesión</a>
        </div>

</nav>